@using Devices.Common.Services;
@using static Devices.Host.Extensions.PageExtensions;
@inject Microsoft.AspNetCore.Authorization.IAuthorizationService AuthorizationService
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Resources/Bootstrap/5.3.3/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/Resources/Styles/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Devices.Host.styles.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index">@(System.Reflection.Assembly.GetExecutingAssembly().GetName().Name)</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle menu"><span class="navbar-toggler-icon"></span></button>
                <div id="navbarContent" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if ((await AuthorizationService.AuthorizeAsync(User, Model, "FrameworkPolicy")).Succeeded)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Framework</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item@(IsSelected(ViewData, "Devices"))" asp-area="Framework" asp-page="/Devices">Devices</a></li>
                                    <li><a class="dropdown-item@(IsSelected(ViewData, "Monitoring"))" asp-area="Framework" asp-page="/Monitoring">Monitoring</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item@(IsSelected(ViewData, "Applications"))" asp-area="Framework" asp-page="/Applications">Applications</a></li>
                                    <li><a class="dropdown-item@(IsSelected(ViewData, "Releases"))" asp-area="Framework" asp-page="/Releases">Releases</a></li>
                                    <li><a class="dropdown-item@(IsSelected(ViewData, "Deployments"))" asp-area="Framework" asp-page="/Deployments">Deployments</a></li>
                                    <li><a class="dropdown-item@(IsSelected(ViewData, "Pending Deployments"))" asp-area="Framework" asp-page="/PendingDeployments">Pending Deployments</a></li>
                                </ul>
                            </li>
                        }
                        @if ((await AuthorizationService.AuthorizeAsync(User, Model, "GardenPolicy")).Succeeded)
                        {
                            <li class="nav-item"><a class="nav-link@(IsSelected(ViewData, "Garden Weather"))" asp-area="Garden" asp-page="/Weather">Garden Weather</a></li>
                            <li class="nav-item"><a class="nav-link@(IsSelected(ViewData, "Garden Watering"))" asp-area="Garden" asp-page="/Watering">Garden Watering</a></li>
                        }
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            @if (!HttpContextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
                            {
                                <a class="nav-link" asp-page="/SignIn">Sign In</a>
                            }
                            else
                            {
                                <a class="nav-link" asp-controller="Security" asp-action="SignOut" title="Signed in as '@(HttpContextAccessor.HttpContext?.User.Identity?.Name)'">Sign Out</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted bg-body-tertiary">
        <div class="container-fluid">
            &copy; 2024 - @(DateTime.Now.Year). Marian Todorov (@(AssemblyService.GetBuildVersion()))
        </div>
    </footer>
    <script src="~/Resources/jQuery/3.7.1/jquery.min.js"></script>
    <script src="~/Resources/Popper/2.11.8/popper.min.js"></script>
    <script src="~/Resources/Bootstrap/5.3.3/js/bootstrap.min.js"></script>
    <script src="~/Resources/Scripts/Site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            if (typeof Devices.Host.Site.initContentPage == "function")
                Devices.Host.Site.initContentPage();
        });
    </script>
</body>

</html>